{% load static %}
<html>
	<head>
		<title>Orden Chatbot</title>
		<script type="text/javascript" src="{% static 'orden_chatbot/angular.min.js' %}"></script>
	</head>
	<body>
		<div>
			<p>Bloque de django script</p>
			{% if caballeros %}
				<div>
					<div>Caballeros</div>
					<div>
						<ul>
							{% for caballero in caballeros %}
								<li>
									{{ caballero.nombre }}
									{% if caballero.puto == 1 %}
									 - Puto
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
			<p>No hay caballeros</p>
			{% endif %}
		</div>
	</body>
	<script type="text/javascript">
		"{% if caballeros %}";
		var caballeros = JSON.parse("{{ json.dumps(caballeros.__dict__) }}");
		"{% endif %}";
	</script>
</html>